apiVersion: v1
kind: Service
metadata:
  name: opsbot
  namespace: opsbot
  labels:
    app.kubernetes.io/name: opsbot
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: opsbot
